/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03.06.2014, 11:36:47
    Author     : Philipp
*/

p,
h1,
h2,
a {
    font-family: 'Fira Sans', sans-serif;
}

#videocontainer { 
    height: 100%; 
    overflow: hidden; 
}

#videoplayer { 
    //position: absolute; 
    width: 100%;
}

#videopage {
    padding: 0px;
    margin: 0px;
    background-color: black;
}

#videopage .small-12, 
#videopage .large-12 {
    padding: 0px;
}

#videopage .main-video-section {
    margin-top: 0px;
    padding-left: 0px;
}

body {
    background-color: #008cba;
    padding-left: 0px;
    
}

/*a, a:hover{
    color: black;
}*/

.row { 
    max-width: 100%; 
}

.showtile {
    min-height: 16.01em;
    max-height: 16.01em;
    overflow:hidden;
    float: left;
    margin: 0.5em;
    background-color: #003366;
    background-size: 100%;
    background-repeat: no-repeat;  
    color: white;
    position: relative;
    
    
}

.showtile p {
    padding-left: 1em;
    padding-right: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    font-size: 1em;
}

.showtitletext {
    bottom: 0;
    width: 100%;
    background-color: #003366;
}

.showtile h2 {
    padding: 0.5em;
    margin-top: 0em;
    color: white;
    font-size: 1.3em;
}



.tab-bar {
    background: #003366;
    height: 60px;
}
.left-small {
    width: 60px;
    height: 60px;
    border-right-style: none;
}

.right-small {
    width: 60px;
    height: 60px;
    border-left-style: none;
}

.tab-bar .menu-icon {
    width: 60px;
    height: 60px;
}

.tab-bar .menu-icon span:after {
    left: 1.2rem;
}

.tab-bar-section {
    text-align: left;
}

.tab-bar-section.middle {
    left: 60px;
    top: 9px;
}

.tab-bar h1 {
    font-size: 2em;
    font-weight: normal;
}

.tab-bar h1 a {
    display: block;
}


.off-canvas-wrap {
    //height: 100%;
    //overflow-y: auto;
} 

.off-canvas-list a {
    font-size: 1.4em;
    font-weight: normal;
}
.inner-wrap {
    min-height: 100%; 
}

.left-off-canvas-menu {
    background: #003366;
}

p,
h1,
.title a{
    color: white;
}



#siteloader {
    //position: absolute;
    left: 50%;
    //top: 50%;
    z-index: 10;
    margin:40px 0 0 0;
    text-align: center;
}

.main-section,
.main-video-section {
    margin-top: 40px;
}


/* http://signalvnoise.com/posts/2577-loading-spinner-animation-using-css-and-webkit */
/* start basic spinner styles*/

    
div.spinner {
  position: relative;
  width: 200px;
  height: 200px;
  display: inline-block;
}

div.spinner div {
  width: 12%;
  height: 26%;
  background: #000;
  position: absolute;
  left: 44.5%;
  top: 37%;
  opacity: 0;
  -webkit-animation: fade 1s linear infinite;
  -webkit-border-radius: 50px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
  -moz-animation: fade 1s linear infinite;
  -moz-border-radius: 50px;
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.2);  
  animation: fade 1s linear infinite;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);  
}

div.spinner div.bar1 {
    -webkit-transform:rotate(0deg) translate(0, -142%); 
    -webkit-animation-delay: 0s;
    -moz-transform:rotate(0deg) translate(0, -142%); 
    -moz-animation-delay: 0s;
    transform:rotate(0deg) translate(0, -142%); 
    animation-delay: 0s;    
}    
div.spinner div.bar2 {
    -webkit-transform:rotate(30deg) translate(0, -142%); 
    -webkit-animation-delay: -0.9167s;
    -moz-transform:rotate(30deg) translate(0, -142%); 
    -moz-animation-delay: -0.9167s;
    transform:rotate(30deg) translate(0, -142%); 
    animation-delay: -0.9167s;    
}
div.spinner div.bar3 {
    -webkit-transform:rotate(60deg) translate(0, -142%); 
    -webkit-animation-delay: -0.833s;
    -moz-transform:rotate(60deg) translate(0, -142%); 
    -moz-animation-delay: -0.833s;
    transform:rotate(60deg) translate(0, -142%); 
    animation-delay: -0.833s;    
}
div.spinner div.bar4 {
    -webkit-transform:rotate(90deg) translate(0, -142%); 
    -webkit-animation-delay: -0.75s;
    -moz-transform:rotate(90deg) translate(0, -142%); 
    -moz-animation-delay: -0.75s;
    transform:rotate(90deg) translate(0, -142%); 
    animation-delay: -0.75s;    
}
div.spinner div.bar5 {
    -webkit-transform:rotate(120deg) translate(0, -142%); 
    -webkit-animation-delay: -0.667s;
    -moz-transform:rotate(120deg) translate(0, -142%); 
    -moz-animation-delay: -0.667s;
    transform:rotate(120deg) translate(0, -142%); 
    animation-delay: -0.667s;    
}
div.spinner div.bar6 {
    -webkit-transform:rotate(150deg) translate(0, -142%); 
    -webkit-animation-delay: -0.5833s;
    -moz-transform:rotate(150deg) translate(0, -142%); 
    -moz-animation-delay: -0.5833s;
    transform:rotate(150deg) translate(0, -142%); 
    animation-delay: -0.5833s;    
}
div.spinner div.bar7 {
    -webkit-transform:rotate(180deg) translate(0, -142%); 
    -webkit-animation-delay: -0.5s;
    -moz-transform:rotate(180deg) translate(0, -142%); 
    -moz-animation-delay: -0.5s;
    transform:rotate(180deg) translate(0, -142%); 
    animation-delay: -0.5s;    
}
div.spinner div.bar8 {
    -webkit-transform:rotate(210deg) translate(0, -142%); 
    -webkit-animation-delay: -0.41667s;
    -moz-transform:rotate(210deg) translate(0, -142%); 
    -moz-animation-delay: -0.41667s;
    transform:rotate(210deg) translate(0, -142%); 
    animation-delay: -0.41667s;    
}
div.spinner div.bar9 {
    -webkit-transform:rotate(240deg) translate(0, -142%); 
    -webkit-animation-delay: -0.333s;
    -moz-transform:rotate(240deg) translate(0, -142%); 
    -moz-animation-delay: -0.333s;
    transform:rotate(240deg) translate(0, -142%); 
    animation-delay: -0.333s;    
}
div.spinner div.bar10 {
    -webkit-transform:rotate(270deg) translate(0, -142%); 
    -webkit-animation-delay: -0.25s;
    -moz-transform:rotate(270deg) translate(0, -142%); 
    -moz-animation-delay: -0.25s;
    transform:rotate(270deg) translate(0, -142%); 
    animation-delay: -0.25s;    
}
div.spinner div.bar11 {
    -webkit-transform:rotate(300deg) translate(0, -142%); 
    -webkit-animation-delay: -0.1667s;
    -moz-transform:rotate(300deg) translate(0, -142%); 
    -moz-animation-delay: -0.1667s;
    transform:rotate(300deg) translate(0, -142%); 
    animation-delay: -0.1667s;    
}
div.spinner div.bar12 {
    -webkit-transform:rotate(330deg) translate(0, -142%); 
    -webkit-animation-delay: -0.0833s;
    -moz-transform:rotate(330deg) translate(0, -142%); 
    -moz-animation-delay: -0.0833s;
    transform:rotate(330deg) translate(0, -142%); 
    animation-delay: -0.0833s;    
}

 @-webkit-keyframes fade {
  from {opacity: 1;}
  to {opacity: 0.25;}
}

 @-moz-keyframes fade {
  from {opacity: 1;}
  to {opacity: 0.25;}
}

 @keyframes fade {
  from {opacity: 1;}
  to {opacity: 0.25;}
}

/* end basic spinner styles*/


@media only screen and (max-width: 40em) { 
    .showtile {
        width: 100%;
        margin: 0px;
    }
    .showtitletext {
        position: absolute;
    }
    .small-12 {
        padding: 0px;
    }
    .tab-bar h1 {
        font-size: 1.4em;

    }
    .main-video-section {
        margin-top: 0px;
    }
}

@media only screen and (min-width: 40.063em) {
    .main-video-section {
        padding-left: 8%;
    }    
    .showtile {
        width: 28%;
    }
}

@media only screen and (min-width: 64.063em) { 
    .main-video-section {
        padding-left: 8%;
    }    
    .showtile {
        width: 21%;
    }
}

@media only screen and (min-width: 90.063em) { 
    .main-video-section {
        padding-left: 7.5%;
    }    
    .showtile {
        width: 17%;
    }

}

@media only screen and (min-width: 120.063em) { 
    .main-video-section {
        padding-left: 7.5%;
    }        
    .showtile {
        border: solid;
        border-color: brown;
        width: 9%;
    }
} 